body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
--col1: 1fr;
--col2: 1fr;
--col3: 1fr;
--col4: 1fr;
--col5: 1fr;

grid-template-columns: var(--col1) var(--col2) var(--col3) var(--col4) var(--col5);
  
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  padding: 1px;
}

.grid-item {
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.grid-container:has(#card1:hover)
{

      --coll1:2fr;
      }

.item1{
    grid-row: span 3;
}

.item2{
    grid-column: span 3;
    grid-row: span 3;
}
.item3{
    grid-row: span 3;
}

.search-container {
    text-align: center;
    margin: 20px;
    border-radius: 10px; 
    overflow: hidden;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 10px;
    background-color: #f7e1d7;
    border: none;
    border-radius: 10px; 
  }
  
  button {
    padding: 10px 15px;
    font-size: 10px;
    background-color: #f7e1d7;
    color: rgb(163, 163, 163);
    border: none;
    cursor: pointer;
    border-radius: 10px; 
  }

  